* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 600;
    font-family: "Poppins";
    color: #111729;
}

p {
    font-family: "Lato";
    color: #677489;
}

.card {
    max-width: 450px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin: 8rem auto;
    width: 40rem;
    border-radius: 4%;
    -webkit-border-radius: 4%;
    -moz-border-radius: 4%;
    -ms-border-radius: 4%;
    -o-border-radius: 4%;
}
.text h1 {
    font-size: 1.5rem;
}
.profile h3 {
    font-size: 1rem;
}
.profile p {
    font-size: 0.9rem;
}

.text p {
    font-size: 1rem;
}

.hero svg {
    width: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 10;
}
.text,
.profile {
    padding: 1rem 3rem 1.5rem 3rem;
}

.text h1 {
    margin-bottom: 1rem;
}
.hero {
    position: relative;
}
.hero img {
    position: relative;
    width: 100%;
    border-radius: 4% 4% 0 0;
    -webkit-border-radius: 4% 4% 0 0;
    -moz-border-radius: 4% 4% 0 0;
    -ms-border-radius: 4% 4% 0 0;
    -o-border-radius: 4% 4% 0 0;
}
.profile {
    display: flex;
    align-items: center;
}
.profile img {
    width: 2.5rem;
    margin-right: 1.5rem;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}
hr {
    opacity: 0.1;
}
